@charset "utf-8";
/* CSS Document */

body {
	position: relative; /* required */
	padding-top: 70px;	/* prevent content to go underneath the fixed navbar */
	font-family: 'Hind', helvetica;
	color: #898989;
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	font-family: 'Eczar', helvetica;
	color: #292929;
}
p {
	color: #999999;
}
a {
	color: #292929;
	text-decoration: none;
	transition: all 0.4s ease 0s;
}
a:hover {
	text-decoration: none;
}
a.btn, .btn {
	padding: 2px 0 0 0;
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	color: #292929;
	letter-spacing: 0.2em;
	font-weight: 500;
	line-height: 12px;
	text-transform: uppercase;
	cursor: pointer;
	box-shadow: inset 0 -6px 0 #ede574;
	transition: all 0.4s ease 0s;
}
a.btn:hover, .btn:hover {
	box-shadow: inset 0 -14px 0 #ede574;
}
.bg-light {
	background-color: #f9f9f9 !important;
}
.ss i {
	font-size: 26px;
}
.padd::before {
	display: block;
	content: " ";
	margin-top: -145px;
	height: 145px;
	visibility: hidden;
	pointer-events: none;
}
.padd {
	max-width: 900px;
	margin: 0 auto;
	padding-bottom: 145px;
}
.padd-bottom-new {
	padding-bottom: 145px;
}
.padd-top-new {
	padding-top: 145px;
}
.nav-item {
	padding-left: 10px !important;
	padding-right: 10px !important;
}
.nav-pills .nav-link {
	color: #222;
	font-weight: 600;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: #222 !important;
	background-color: transparent;
	box-shadow: inset 0 -12px 0 #ede574;
	border-radius: 0;
	padding-bottom: 0;
}
.navbar-light .navbar-toggler {
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
}
.blockquote-details .info {
	padding-left: 1rem;
}
.blockquote-details {
	display: flex;
	align-items: center;
	text-align: left;
}
.item-inner {
 padding: 1rem .75rem;
}
blockquote.icon {
	position: relative;
	border: 0;
	padding: 0;
}
blockquote.icon:before {
	content: "201d";
	position: absolute;
	top: -1.5rem;
	color: rgba(52,63,82,.05);
	font-size: 10rem;
	line-height: 1;
	z-index: 1;
}
.owl-carousel.gap-small .owl-dots {
	margin-top: 1rem;
}
.owl-carousel .owl-dots {
	text-align: center;
}
.owl-carousel .owl-dots .owl-dot.active span {
	transform: scale(1);
	background: 0 0;
	border-color: #ccc;
}
.owl-carousel .owl-dots .owl-dot span {
 width: .7rem;
 height: .7rem;
 margin: 0 .3rem;
	background: #ccc;
	opacity: .5;
	display: block;
	-webkit-backface-visibility: visible;
	transition: all .2s ease-in-out;
	border-radius: 100%;
	transform: scale(.6);
	border: 3px solid transparent;
}
.description>ul {
	list-style: none;
}
.description>ul>li span {
	min-width: 90px;
	display: inline-block;
	font-weight: 700;
	color: #222;
	font-style: italic;
}
.owl-carousel .owl-item img {
	display: inline-block;
}
.w-12 {
	width: 3.5rem!important;
}
.element-item {
	width: 32%;
	padding: 2%;
}
.element-item img {
	width: 100%;
	filter: grayscale(1);
	transition: all .3s ease;
}
.element-item img:hover {
	filter: grayscale(0);
	cursor: pointer;
}
.nn img {
	filter: grayscale(1);
	transition: all .3s ease;
}
.nn img:hover {
	filter: grayscale(0);
	cursor: pointer;
}
.button-group {
}
.button-group button {
	background-color: transparent;
	margin: 10px 15px;
	font-weight: 500;
	font-size: 20px;
	color: #999999;
	outline: none !important;
	border: 0 !important;
}
.button-group button.is-checked {
	color: #292929;
	cursor: pointer;
	box-shadow: inset 0 -8px 0 #ede574;
	outline: none;
	padding-bottom: 0 !important;
	border: 0;
}
.kk {
	transition: all 0.3s ease;
}
.kk2 {
	background-color: #FFF;
	padding: 14px 0 !important;
	transition: all 0.3s ease;
}
/* 8. Forms */
input, textarea, button {
	margin: 0 0 25px 0;
	padding: 0;
	display: block;
	width: 100%;
	height: 24px;
	font-size: 14px;
	color: #292929;
	letter-spacing: 0.03em;
	font-weight: 500;
	-webkit-appearance: none;
	-moz-appearance: none;
	resize: none;
	outline: 0;
	background: none;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}
input:focus, textarea:focus, button:focus {
	color: #292929;
	border-bottom: 1px solid #292929;
}
textarea {
	margin: 0 0 35px 0;
	padding: 20px 0;
	height: 120px;
}
button {
	width: auto;
	display: inline-block;
	vertical-align: top;
	border: none;
	cursor: pointer;
}
label, legend {
	display: block;
	padding-bottom: 10px;
	font-family: 'Hind', helvetica;
	font-size: 20px;
}
fieldset {
	border-width: 0;
	padding: 0;
}
input[type="checkbox"], input[type="radio"] {
	display: inline;
}

::-webkit-input-placeholder {
 color: #898989;
}

:-moz-placeholder {
 color: #898989;
}

::-moz-placeholder {
 color: #898989;
}

:-ms-input-placeholder {
 color: #898989;
}
.social-icons a {
	margin-right: 15px;
	color: #999;
}
.social-icons a:hover {
	color: #333;
}
.banner-image img {
	border-radius: 100%;
}
@media(max-width:990px) {
.display-4 {
	font-size: 46px;
}
}
@media(max-width:780px) {
.display-4 {
	font-size: 40px;
}
}

